.inputWrapper {
    margin-top: 20px;
}

.input {
    margin-top: 10px;
}

.create {
    margin-top: 20px;
}

.sendButton {
    margin-top: 20px;
}

.formWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media(max-width: 800px) {
    .formWrapper {
        flex-direction: column;
    }

    .inputWrapper {
        margin-top: 10px;
    }
}