.itemWrapper {
    background-color: var(--white);
    padding: 10px;
    display: inline-block;
    border-radius: 16px;
    width: 300px;
    transition: 0.6s;
    height: fit-content;
    margin-top: 20px;
    margin-right: 20px;
}

.itemWrapper:hover {
    transform: translateY(-10px);
}

.imgWrapper {
    background-color: var(--grey);
    padding: 10px;
    border-radius: 16px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imgPreview {
    transition: 1s;
}

.imgPreview:hover {
    transform: scale(1.1);
}

.titleWrapper {
    display: inline-block;
    margin-top: 10px;
}

.linksWrapper {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.read {
    display: inline-block;
    padding: 20px 20px;
    text-align: center;
    color: var(--white);
    position: relative;
}

.readWrapper {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
}

.readWrapper:before {
    content: '';
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 200%;
    background: linear-gradient(to top, var(--yellow) 0%, var(--yellow) 50%, var(--select) 50%, var(--select) 100%);
    transition: bottom .7s;
}

.readWrapper:hover:before {
    bottom: 0;
}

.favorite {
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorite svg path {
    transition: 0.6s;
}

.favorite:hover svg path {
    fill: var(--red);
}