.bookPageWrapper {
    margin-top: 40px;
}

.mainWrapper {
    display: flex;
    justify-content: space-around;
}

.descWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

.buttonsWrapper {
    display: flex;
    justify-content: space-between;
}