.searchPageWrapper {
    display: flex;
    flex-direction: column;
}

.searchInput {
    margin-top: 20px;
}

.searchButton {
    margin-top: 20px;
    width: 300px;
}

.searchResultsWrapper {
    columns: auto 18em;
}

@media(max-width: 800px) {
    .searchResultsWrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}