:root {
    --black: #000;
    --white: #fff;
    --select: #884d00;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #f7efef;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--select);
    border-radius: 5px;
}

*::selection {
    background: var(--select);
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
    color: var(--white);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

input {
    cursor: pointer;
}

input:focus {
    cursor: text;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

.hidden {
    height: 0px !important;
    width: 0px !important;
    padding: 0 !important;
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}