:root {
    --black: #000;
    --white: #fff;
    --select: #884d00;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #f7efef;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--select);
    border-radius: 5px;
}

body {
    background-color: #1d120a;
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

*::selection {
    background: var(--select)
}