:root {
    --black: #000;
    --white: #fff;
    --select: #884d00;
    --grey: #f1f1f1;
    --red: #b60000;
    --yellow: #A66400;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: var(--select);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--white);
    border-radius: 5px;
}

*::selection {
    background: var(--select);
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(51,27,11);
    background: radial-gradient(circle, rgba(51,27,11,1) 0%, rgba(122,96,78,1) 100%);
    color: var(--white);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

input {
    cursor: pointer;
}

input:focus {
    cursor: text;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.hidden {
    height: 0px !important;
    width: 0px !important;
    padding: 0 !important;
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}