.link {
    color: var(--white);
    text-decoration: none;
    background: linear-gradient(to bottom, transparent 0%, transparent 90%, var(--white) 100%);
    background-size: 200% 100%;
    background-position: 200% 0;
    background-repeat: no-repeat;
    transition: all 0.5s linear;
    padding-bottom: 2px;
}

.link:hover {
    background-position: 100% 0;
}