.input {
    padding: 16px;
    border-radius: 16px;
    transition: 0.6s;
    width: 400px;
    background-color: var(--white);
    display: inline-block;
}

.input:hover {
    transform: scale(1.05);
}

.input:focus {
    outline: 1px solid var(--select);
}