.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80%;
    margin: 0 auto;
}

.main {
    flex: auto;
}

@media (max-width: 420px) {
    .wrapper {
        width: 96%;
    }
}